@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&family=Roboto:wght@300;500;700;900&display=swap');

:root {
    --main-color: #1992d4;
}

body {
    margin: 0;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    font-size: 20px;
    display: grid;
    grid-template-rows: 120px repeat(10, 50px);
    padding-left: 20px;
}

.side-links, .logo {
    display: flex;
    align-items: center;
}

.sidebar>div>img {
    padding-right: 12px;
}

.logo {
    font-size: 28px;
    padding-bottom: 30px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 5px 5px 0px #7a7a7a41;
    z-index: 1;
    padding: 10px 80px 10px 40px;
}

.search, .account, .buttons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.account, .buttons {
    justify-content: flex-end;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
    background-color: #e2e8f0;
    border: 0;
    border-radius: 14px;
    height: 28px;
    width: min(100%, 600px);
    padding: 12px;
}

button {
    margin: 0;
    border: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    height: 36px;
    width: 90px;
    border-radius: 26px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: var(--main-color);
}

.avatar>img {
    border-radius: 100%;
    height: 48px;
    width:48px;
    object-fit: cover;
}

.avatar-big>img {
    height: 80px;
    width: 80px;
}

.welcome {
    display: grid;
    grid-template-columns: 98px 1fr;
    grid-template-rows: 14px 1fr;
}

.welcome .avatar {
    grid-row: 1 / 3;
}

.main-content {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: min-content 1fr;
    gap: 30px;
    padding: 30px;
}

.projects-wrapper {
    grid-area: 1 / 1 / 3 / 2;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    border-left: 8px solid #f0b429;
    padding: 30px;
}

.announcements {
    padding: 30px;
}

.announcements hr {
    margin: 20px 0px;
}

.trending {
    padding: 20px;
    max-height: 270px;
}

.user {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: min-content 1fr;
    row-gap: 8px;
}

.user .avatar {
    grid-area: 1 / 1 / 3 / 2;
}

.user .profile>* {
    margin: 6px;
}

.sidebar, button {
    background-color: var(--main-color);
    color: white;
}

.name, .title {
    font-size: 18px;
    margin-bottom: 6px;
}

.handle, .announcements .title, .user p {
    font-size: 15px;
}

.announcements p {
    font-size: 13px;
}

p {
    color: #636363;
    font-weight: 300;
}

.welcome p {
    font-weight: 700;
    color: black;
}

.icons {
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap: 16px;
    margin-top: auto;
}

.icons>img, .notifications>img {
    padding: 4px;
}

.icons>img:hover, .notifications>img:hover {
    background-color:#e2e8f0;
    border-radius: 100%;
    border: 25px;
    cursor: pointer;
}

.card, .trending, .announcements {
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 0px #7a7a7a41;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

img {
    border-style: none;
}