@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&family=Roboto:wght@300;500;700;900&display=swap');

:root {
    --main-color: #1992d4;
}

body {
    margin: 0;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    font-size: 20px;
}

.logo {
    font-size: 28px;
}

.avatar>img {
    border-radius: 100%;
    height: 48px;
    width:48px;
    object-fit: cover;
}

.avatar-big>img {
    height: 80px;
    width: 80px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 5px 5px 0px #7a7a7a41;
    z-index: 1;
}

.main-content {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sidebar, button {
    background-color: var(--main-color);
    color: white;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
    background-color: #e2e8f0;
    border: 0;
    border-radius: 14px;
    height: 28px;
    width: 450px;
}

button {
    margin: 0;
    border: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    height: 36px;
    width: 90px;
    border-radius: 26px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: var(--main-color);
}

.name, .title {
    font-size: 18px;
}

.handle, .announcements .title, .user p {
    font-size: 15px;
}

.announcements p {
    font-size: 13px;
}

p {
    color: #636363;
    font-weight: 300;
}

.welcome p {
    font-weight: 700;
    color: black;
}

.icons>img {
    padding: 4px;
}

.icons>img:hover{
    background-color:#e2e8f0;
    border-radius: 100%;
    border: 25px;
    cursor: pointer;
}

.card, .trending, .announcements {
    background-color: white;
    border-radius: 16px;
    margin: 20px;
    box-shadow: 5px 5px 5px 0px #7a7a7a41;
}

.card {
    border-left: 4px solid #f0b429;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

img {
    border-style: none;
}